*{
	box-sizing: border-box; 
}

/*----------------------------------Etiquetas-------------------------------*/
#cabecera h1{
	font-family: 'Balsamiq Sans', cursive;
}
.caja{
	width: 25%;
	background-color: aquamarine;
}
.nav-link:hover{
	background-color: blanchedalmond;
}
.card img
{
	width: 20rem;
	height: 20rem;
	object-fit: contain;
	object-position: center;


}