*{
	box-sizing: border-box; 
}

/*----------------------------------Etiquetas-------------------------------*/

}
body {
	font-size: 15px;
}


.cabecera .navegar{
	display: flex;
}
.cabecera .navegar a{
	text-decoration: none;
}
