*{
	box-sizing: border-box; 
}
::-webkit-scrollbar {
  width: 1rem;
}
 
::-webkit-scrollbar-track {
  background-color: blue;
}
 
::-webkit-scrollbar-thumb {
  background-color: yellow;
  outline: 0.1rem solid slategrey;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
/*----------------------------------Etiquetas-------------------------------*/
html
{
	font-size: 1.09vh;
}
